<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <%= image_pack_tag 'media/images/home.png', size: '350x354' %>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Dê os primeiros passos em tecnologia</h1>
            <p class="lead">
                Tutoriais <b><i> gratuitos </i></b> feitos especialmente para <b><i> iniciantes </i></b>.<br/>
                Para quem deseja desenvolver novas habilidades <br/> e quer trilhar um novo  caminho profissional.
            <br/>
            <br/>
            </p>
            <p class="lead"> Assine nossa lista de espera e seja notificado/a <br/> quando os cursos estiverem disponíveis!</p>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Digite seu email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">Feito</span>
            </div>
            </p>
        </div> 
    </div>     
</div>
